@import "variables.scss";

.author-list {
  font-style: italic;
}

a {
  color: $primary;
  text-decoration: none;
  vertical-align: middle;
}


.fulltext-icon {
  height: 18px !important;
  width: 18px !important;
  font-size: 18px;
  vertical-align: middle;
}

.correspondence-label {
  vertical-align: middle;
}


.fragment-viewer-wrapper {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.actions > button {
  margin: 0px 5px;
}

.action-label {
  line-height: 36px;
  margin-left: 20px;
}

.allele-list-wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.consortium {
  margin-left: 10px;
}


.waiting {
  color: #f3b111;
}

.full-width {
  width: 100%;
}

// textarea {
//   resize: none;
// }

::ng-deep .mat-form-field.stretch-height,
.mat-form-field.stretch-height ,
.mat-form-field.stretch-height textarea {
  height: 100%;
}


::ng-deep .mat-form-field.stretch-height .mat-form-field-wrapper {
  height: calc(100% - 1.3em);
}
::ng-deep .mat-form-field.stretch-height .mat-form-field-infix {
  height: calc(100% - 1.3em);
}

::ng-deep .mat-form-field.stretch-height .mat-form-field-wrapper .mat-form-field-flex {
  height: calc(100% - 0.34375em);
}
