<mat-form-field class="chip-list">
    <mat-chip-list #chipList aria-label="Ids adder">
      <mat-chip *ngFor="let emmaId of publicationValue.emmaIds" [selectable]="selectable"
      [removable]="removable" (removed)="remove(emmaId)">
      {{emmaId}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="Add EMMA id..."
    [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    [matChipInputAddOnBlur]="addOnBlur"
    (matChipInputTokenEnd)="add($event)">
    <mat-icon matSuffix>fingerprint</mat-icon>
  </mat-chip-list>
  </mat-form-field>
