.sidenav-container {
  height: 100%;
}

.sidenav {
  position: fixed;
  top: 79px;
  bottom: 0;
  left: 0;
  padding: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  max-width: 260px;
  background-color: #fff;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.toolbar-spacer {
  flex: 1 1 auto;
}


.top-bar {
  height: 41px;
  background-color: #e8e8e8;
  text-align: right;
}

.header-bar {
  height: 79px;
  color: #818285;
  background-color: #ffffff;
  box-shadow: 0px 6px 6px rgba(0,0,0,.1);
}


.toolbar-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}


.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.main {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  background-color: #fff;
}


/*
 * Actual Sticky Footer Styles
 */

 .all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.content {
  flex: 1;
  background-color: white;
  padding-top: 100px;
}

/*
 * Make the component injected by <router-outlet> full height:
 */

main {
  display: flex;
  flex-direction: column;
}

main > *:not(router-outlet) {
  flex: 1;
  display: block;
}

footer {
  background-color: #000;
  color: whitesmoke;
  padding: 10px;
}

.bar-spacer {
  flex: 1 1 auto;
}
