@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$impc-publication-curation-client-primary: mat-palette($mat-deep-orange);
$impc-publication-curation-client-accent: mat-palette($mat-blue, A700, A100, A400);

// The warn palette is optional (defaults to red).
$impc-publication-curation-client-warn: mat-palette($mat-red);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($impc-publication-curation-client-primary);
$accent: mat-color($impc-publication-curation-client-accent);
$warn: mat-color($impc-publication-curation-client-warn);
