.sidenav-section  {
  box-shadow: none;
}


.mat-toolbar {
  background: white;
}

.range-form-field {
  margin: 0px 5px;
  display: block;
  width: 90%;
  min-width: 50px;
}

.search-form {
  width: 90%;
  margin-left: auto;
}
