.keyword {
  font-size: 11px;
  padding: 5px 8px !important;
  font-weight: 500;
  margin-bottom: 1px;
}


.mentions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.label {
  line-height: 30px;
  margin-right: 5px;
}
