<div class="signin-content">
    <mat-card>
        <img mat-card-avatar class="header-image" src="{{ baseUrl }}assets/img/logo-login.png">
      <div>
        <span class="impc-logo-letters">{{ title.replace('-', '') }}</span>
      </div>
      <mat-card-content>
        <form class="login-form">
          <mat-form-field class="full-width-input">
            <input matInput [formControl]="userNameFormControl" >
            <mat-error *ngIf="userNameFormControl.hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
            <mat-placeholder><b> Username</b></mat-placeholder>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" [formControl]="passwordFormControl">
            <mat-placeholder><b> Password</b></mat-placeholder>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </form>
        <button mat-raised-button (click)="login()" [disabled]="passwordFormControl.invalid || userNameFormControl.invalid">LOG IN</button>
      </mat-card-content>
    </mat-card>
  </div>
